.about {
    color: var(--main-text);
}

.about--title {
    position: relative;
    top: 43%;
}

.about--link {
    position: relative;
    top: 50%;
}

.about--authors {
    position: relative;
    top: 55%;
}

.center--about a:any-link {
    color: var(--button-color);
}

.center--about a:hover {
    color: white;    
    text-shadow: 0px 0px 1px var(--button-color);
}

.center--about {
    position: fixed;
    margin: 0 0 0 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }