body, html {
    margin: 0 auto;
    text-align: center;
}

.box {
    background: white;
    border: 5px solid black;
    border-radius: 25px;
}

.sb3:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 5px solid black;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    border-bottom: 5px solid transparent;
    left: -4px;
    bottom: -10px;
}

.sb4:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid black;
    border-top: 5px solid black;
    border-bottom: 5px solid transparent;
    right: -4px;
    bottom: -10px;
}

.playerText {
    width: 20vw;
    color: red;
    position: relative;
    right: 25%;
    margin: 0 auto 10px;
    font-size: 20px;
}

.computerText {
    width: 20vw;
    color: blue;
    position: relative;
    left: 25%;
    margin: 0 auto 10px;
    font-size: 20px;
}

.input {
    position: fixed;
    margin: 0 0 0 0;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type=text]{
    width: 200px;
}

#scrollable {
    width: 800px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
}

.shake {
    animation: shake 0.1s 4;
    animation-timing-function: linear;
}

.gameover {
    position: absolute;
    width: 80vw;
    height: 100vh;
    background: var(--header-bg);
    z-index: 2;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.gameover > div {
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: var(--button-color);
}

.Timer{
    font-size: 25px;
    position: fixed;
    margin: 0 0 0 0;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.score{
    font-size: 25px;
    position: fixed;
    margin: 0 0 0 0;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
}

@keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

.backgroundImage {
    width: 50%;
    height: 50%;    
    filter: brightness(0) invert(1);
    z-index: -1;
}

@media only screen and (max-width: 1200px) {

    .Timer{
        font-size: 18px;
        position: fixed;
        margin: 0 0 0 0;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .score{
        font-size: 18px;
        position: fixed;
        margin: 0 0 0 0;
        top: 5%;
        left: 5%;
        transform: translate(-50%, -50%);
    }

    #scrollable {
        width: 80vw;
    } 

    .backgroundImage {   
        z-index: -1;
        left: 50%;
        top: 50%;
        position: fixed;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 800px) {

    .Timer{
        font-size: 12px;
        position: fixed;
        margin: 0 0 0 0;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .score{
        font-size: 12px;
        position: fixed;
        margin: 0 0 0 0;
        top: 5%;
        left: 8%;
        transform: translate(-50%, -50%);
    }

    #scrollable {
        width: 80vw;
    } 

    .backgroundImage {   
        min-width: 400px;
        filter: brightness(0) invert(1);
        z-index: -1;
        left: 50%;
        top: 50%;
        position: fixed;
        transform: translate(-50%, -50%);
    }

}