.start {
    width: 800px; 
    margin: 0 auto;
}

.buttons--front {
  position: fixed;
  margin: 0 0 0 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 800px) {
}

.buttons--front a:any-link{
    color: var(--button-color);
}

.btn {
  border-style: dashed;
  padding: 5px 40px 5px 40px;
  text-transform: uppercase;
  color: var(--button-color);
}

.purple {
  color: var(--main-bg);
  border-color: var(--bg-header);
}

.buttons--front--start {
  font-size: 50px;
  margin-bottom: 25px;
  animation: startbtn 3s infinite;
  animation-timing-function: linear;
}

.buttons--front--start a:any-link {
  color: var(--main-bg);
}

.startscreen--title {
  font-size: 50px;
  position: fixed;
  margin: 0 0 0 0;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}

@keyframes startbtn {
  0% {
    background-color: var(--ani-from);
    transform: rotate(0deg);
  }
  25% {
    background-color: var(--ani-to);
    transform: rotate(12deg);
  }
  50% {
    background-color: var(--ani-from);
    transform: rotate(0deg);
  }
  75% {
    background-color: var(--ani-to);
    transform: rotate(-12deg);
  }
  100% {
    background-color: var(--ani-from);
    transform: rotate(0deg);
  }
}