.header {
    height: 40px;
    background: var(--header-bg);
    transition: height 0.1s;
    color: var(--header-text);
}

.header:not(:hover){
    height: 10px;
    transition: height 0.1s;
}

.header :nth-child(1) { 
    opacity: 0;
}

.header:hover :nth-child(1) { 
    opacity: 1;
    transition: opacity 0.2s;
}

.arrow {
    color: var(--main-text);
}

.buttons {
    display: inline-flex;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 12px;
}

.buttons > div {
    text-transform: uppercase;
    font-size: 10px;
}

.header--start {
    margin: 0 15px 0 15px;
}

@keyframes arrowTurn {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}